<div class="container p-4 h-100">
  <div class="row h-75 d-flex align-items-center">
    <div class="col-md-4 mx-auto">
      <div class="card bg-dark">
        <form action="/parts/add" method="POST" class="card-body">

          {{! Title and save button }}
          <div class="d-flex justify-content-between align-items-center mb-3">            
            <h1 class="text-light mb-3 h4">Create a New Part</h1>            
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-success btn-block">Save</button>
              <a href="/parts" class="btn btn-danger btn-block">Cancel</a>
            </div>
          </div>
          
          <label for="np">Part Number:</label>
          <input
            type="text"
            name="np"
            class="form-control bg-dark text-light mb-3"
            placeholder="Part Number"
            autofocus
          />

          <label for="designation">Designation:</label>
          <input
            type="text"
            name="designation"
            class="form-control bg-dark text-light mb-3"
            placeholder="designation"
          />

        </form>
      </div>
    </div>

  </div>
</div>